@import "vars";
@import "helpers";
@import "layout";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}